.watermark-container {
  display: flex;
  align-items: center;
}

.watermark-circle {
  position: relative;
  background: #062543;
  border-radius: 50%;
  margin-right: 8px;
  width: 50px;
  height: 50px;
}

.watermark-logo {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.watermark-name {
  color: var(--txt);
  line-height: 30px;
  font-size: 20px;
  font-weight: 600;
}

.watermark-handle {
  color: var(--primary);
  font-weight: 500;
  line-height: 23px;
  font-size: 15px;
}
