.main-bg {
  background-color: var(--neutral-600);
}

.insta-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: url('../../assets/dots.png');
  background-color: var(--bg);
  padding: 75px 67px;
  width: 1080px;
  height: 1350px;
}

.insta-slide-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.insta-slide-num {
  color: var(--txt);
  background-color: var(--bg);
  border: 1px solid var(--txt);
  padding: 13.5px 20px;
  border-radius: 8px;
  line-height: 33px;
  font-weight: 500;
  font-size: 22px;
}

.insta-slide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.insta-slide-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.insta-slide-right {
  position: relative;
  background-color: var(--bg);
  border: 1px solid var(--txt);
  border-radius: 8px;
  height: 60px;
  width: 85px;
}

.insta-slide-right img {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.insta-slide-content-title {
  color: var(--txt);
  text-align: center;
  margin-bottom: 16px;
  line-height: 120px;
  font-weight: 700;
  font-size: 88px;
}

.insta-slide-content-title {
  color: #0000;
  cursor: pointer;
  padding: 0 20px;

  text-shadow: 0 var(--_t, 120px) #fff, 0 0 var(--_c, #050f38);
  box-shadow: 0 var(--_t, 120px) #0a7ddb;
  clip-path: inset(0 0 0 0);
  background: linear-gradient(#0a7ddb 0 0) 0 var(--_t, 120px) no-repeat;
  transition: 0.4s, clip-path 0.4s 0.4s;
}

.insta-slide-content-title:hover {
  --_t: 0;
  --_c: #0000;
  clip-path: inset(0 0 calc(-1 * 120px) 0);
  transition: 0.4s 0.4s, clip-path 0.4s;
}

.insta-slide-content-description {
  text-align: center;
  color: var(--txt-opacity);
  line-height: 60px;
  font-weight: 500;
  font-size: 36px;
}

.insta-slide-image {
  margin-top: 60px;
  max-width: 60%;
}
