.main-bg {
  background: var(--neutral-600);
}

.insta-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #fff;
  padding: 50px 90px;
  width: 1080px;
  height: 1350px;
}

.insta-slide-dark {
  background: var(--bg);
}

.insta-slide-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.insta-slide-topic {
  font-size: var(--topic);
  color: var(--topic-on-light);
  font-weight: 900;
}

.insta-slide-dark .insta-slide-topic {
  color: var(--topic-on-dark);
}

.insta-slide-num {
  font-size: var(--slide-num);
  color: #000;
  font-weight: 600;
}

.insta-slide-dark .insta-slide-num {
  color: #fff;
}

.insta-slide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.insta-slide-content-title {
  color: #000;
  text-align: center;
  font-size: var(--title);
  line-height: 108%;
  font-weight: 600;
  margin: 0 0 20px 0;
}

.insta-slide-dark .insta-slide-content-title {
  color: #fff;
}

.insta-slide-content-description {
  text-align: center;
  font-size: var(--body);
  color: var(--body-text-on-light);
  font-weight: 500;
  line-height: 120%;
}

.insta-slide-dark .insta-slide-content-description {
  color: var(--body-text-on-dark);
}

.insta-slide-watermark {
  margin-right: auto;
}
